 <div class="row">
  {{#each events}}
<div class="cards" style="width: 20rem;">
  <img class="card-img-top" src="{{this.image_url}}" width="100 px">
 <div class="card-body">
  <h3 class="card-title">{{this.name}}</h3>
    <h7 class="card-text">Venue: {{this.venue}}</h7>
  {{!-- <h7 class="card-text">Address: {{this.location}}</h7> --}}
    <h6 class="card-text lat">{{this.coordinates.latitude}}</h6>
    <h6 class="card-text lng">{{this.coordinates.longitude}}</h6>
  <a href="{{this.eventUrl}}"><button class="btn-delete">See me on RA!</button></a>

  </div>
</div>
  {{/each}}
  </div>