<div class="row">
  {{#each restaurants}}
  <div class="cards" style="width: 20rem;">
    <img class="card-img-top" src="{{this.image_url}}" width="100 px">
    <div class="card-body">
      <h3 class="card-title title">{{this.name}}</h3>
      <h7 class="card-text address">Address: {{this.location.address1}}</h7>
      <h6 class="card-text">Type: {{this.categories.0.title}}, {{this.categories.1.title}}</h6>
      <h6 class="card-text">Rating: {{this.rating}}</h6> 
      <h6 class="card-text">Price: {{this.price}}</h6>
      <h6 class="card-text hidden lat">{{this.coordinates.latitude}}</h6>
    <h6 class="card-text hidden lng">{{this.coordinates.longitude}}</h6>
      <a href="{{this.url}}"><button class="btn-delete">See me on Yelp!</button></a>
    </div>
  </div>
  {{/each}}
</div>